<div class="chat-container">  
    <div class="chat-box">
      <div *ngFor="let msg of messages" 
           [ngClass]="{'my-message': msg.sender === sender, 'other-message': msg.sender !== sender}" 
           class="chat-message">
        <strong>{{ msg.sender }}:</strong> {{ msg.message }}
      </div>
    </div>
    
    <div class="chat-input">
      <input [(ngModel)]="sender" placeholder="Your name" class="input-name" />
      <input [(ngModel)]="message" placeholder="Your message" class="input-message" (keydown)="onKeydown($event)" />
      <button (click)="sendMessage()" class="send-button">Send</button>
    </div>
  </div>
  